body {
    margin: 0;
    font-family: Tahoma, sans-serif;
}

.intro {
    max-height: 100vh;
    overflow: hidden;
    position: relative;

    background: url("https://raw.githubusercontent.com/BeautifulDirt/beautifuldirt.github.io/master/src/cover.png") center no-repeat;
    background-size: cover;
}

.intro:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, .8);

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.intro__content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.intro__title {
    margin: 0;

    font-size: 45px;
    color: #fff;
    padding-top: 0.1em;
}

.intro__title span.hl1{
	padding: 0 10px;
	background: rgba(219, 134, 54, 0.8);
}

.intro__title span.hl2{
	padding: 0 10px;
	background: rgba(72, 214, 214, 0.8);
}

.intro__text {
    margin: 0;
    padding-top: 1em;

    font-size: 30px;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.video {
    position: relative;
    z-index: 1;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;
}

img {
    height: 70em;
    float: right;
}

.text {
    float: left;
    position: absolute;
    top: 40%; 
}

a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #d18110;
  }
  
  a:visited {
    color: #c9a861;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #e4c798;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #fedeaa;
  }
  
  a:active {
    background: #83691b;
    color: #fecdaa;
  }